OHSOME_API_OHSOMEDB_USER=ohsomedb
OHSOME_API_OHSOMEDB_PASSWORD=ohsomedb
OHSOME_API_OHSOMEDB_HOST=localhost
OHSOME_API_OHSOMEDB_PORT=5432
OHSOME_API_OHSOMEDB_DBNAME=ohsomedb
OHSOME_API_OHSOMEDB_SCHEMANAME=current
OHSOME_API_APPLICATION_NAME=ohsome-api-developer
