OHSOME_API_OHSOMEDB_USER=ohsomedb
OHSOME_API_OHSOMEDB_PASSWORD=ohsomedb
OHSOME_API_OHSOMEDB_HOST=localhost
OHSOME_API_OHSOMEDB_PORT=5432
OHSOME_API_OHSOMEDB_DBNAME=ohsomedb
OHSOME_API_OHSOMEDB_SCHEMANAME=current
OHSOME_API_OHSOMEDB_APPLICATION_NAME=ohsome-api-developer
OHSOME_API_LOG_CONFIG=src/ohsome_api/log_config.yaml
OHSOME_API_ROOT_PATH=
OHSOME_API_DOCS_PATH=/docs
