OHSOME_API__OHSOMEDB__USER=ohsomedb
OHSOME_API__OHSOMEDB__PASSWORD=ohsomedb
OHSOME_API__OHSOMEDB__HOST=localhost
OHSOME_API__OHSOMEDB__PORT=5432
OHSOME_API__OHSOMEDB__DBNAME=ohsomedb
OHSOME_API__OHSOMEDB__SCHEMANAME=current
OHSOME_API__OHSOMEDB__APPLICATION_NAME=ohsome-api
# Whether to run EXPLAIN ANALYZE for every query
OHSOME_API__OHSOMEDB__DEBUG=False

OHSOME_API__LOG_LEVEL=INFO
OHSOME_API__LOG_CONFIG=src/ohsome_api/log_config.yaml
OHSOME_API__ROOT_PATH=
OHSOME_API__DOCS_PATH=/docs
OHSOME_API__EXTERNAL_DOCS_URL=https://docs.ohsome.org/ohsome-api/v2

