sphinx
sphinxcontrib-httpdomain
sphinxcontrib-openapi
sphinx-rtd-theme
sphinx_tabs
recommonmark
m2r
anytree
sphinx-copybutton

# workaround because of https://github.com/miyakogi/m2r/issues/66
mistune<2.0.0

# workaround because sphinxcontrib-openapi is missing setuptools --2025-03-07
setuptools