{"swagger":"2.0","info":{"description":"This REST-based API aims to leverage the tools of the <a href=\"https://github.com/GIScience/oshdb\" target=\"_blank\">OSHDB</a> through allowing to access some of its functionalities via HTTP requests.","version":"1.0","title":"ohsome API","contact":{"name":"Heidelberg Institute for Geoinformation Technology","url":"https://www.heigit.org","email":"info@heigit.org"},"license":{"name":"License of the used data","url":"https://ohsome.org/copyrights"}},"host":"api.ohsome.org","basePath":"/v1","tags":[{"name":"Data Extraction","description":"Direct access to the OSM data"},{"name":"Full-History Data Extraction","description":"Direct access to the full-history of the OSM data"}],"paths":{"/elements/bbox":{"get":{"tags":["Data Extraction"],"summary":"OSM Data, having the bounding box of each OSM object as geometry","operationId":"bbox","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Data Extraction"],"summary":"OSM Data, having the bounding box of each OSM object as geometry","operationId":"bbox_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}},"/elements/centroid":{"get":{"tags":["Data Extraction"],"summary":"OSM Data, having the centroid of each OSM object as geometry","operationId":"centroid","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Data Extraction"],"summary":"OSM Data, having the centroid of each OSM object as geometry","operationId":"centroid_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}},"/elements/geometry":{"get":{"tags":["Data Extraction"],"summary":"OSM Data having the raw geometry of each OSM object as geometry","operationId":"geometry","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Data Extraction"],"summary":"OSM Data having the raw geometry of each OSM object as geometry","operationId":"geometry_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"ISO-8601 conform timestring(s) defining timestamps (/elements), or intervals (/elementsFullHistory); no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}},"/elementsFullHistory/bbox":{"get":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data, having the bounding box of each OSM object as geometry","operationId":"bboxFullHistory","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data, having the bounding box of each OSM object as geometry","operationId":"bboxFullHistory_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}},"/elementsFullHistory/centroid":{"get":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data, having the centroid of each OSM object as geometry","operationId":"centroidFullHistory","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data, having the centroid of each OSM object as geometry","operationId":"centroidFullHistory_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}},"/elementsFullHistory/geometry":{"get":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data having the raw geometry of each OSM object as geometry","operationId":"fullHistory","produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false},"post":{"tags":["Full-History Data Extraction"],"summary":"Full-history OSM data having the raw geometry of each OSM object as geometry","operationId":"fullHistory_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bboxes","in":"query","description":"WGS84 coordinates in the following format: id1:lon1,lat1,lon2,lat2|id2:lon1,lat1,lon2,lat2|... OR lon1,lat1,lon2,lat2|lon1,lat1,lon2,lat2|...; no default value (one boundary parameter must be defined)","required":false,"type":"string","default":"8.625,49.3711,8.7334,49.4397"},{"name":"bcircles","in":"query","description":"WGS84 coordinates + radius in meter in the following format: id1:lon,lat,r|id2:lon,lat,r|... OR lon,lat,r|lon,lat,r|...; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"bpolys","in":"query","description":"WGS84 coordinates given as a list of coordinate pairs (as for bboxes) or GeoJSON FeatureCollection. The first point has to be the same as the last point and MultiPolygons are only supported in GeoJSON; no default value (one boundary parameter must be defined)","required":false,"type":"string"},{"name":"filter","in":"query","description":"Combines several attributive filters, e.g. OSM type, the geometry (simple feature) type, as well as the OSM tag; no default value","required":false,"type":"string"},{"name":"keys","in":"query","description":"OSM key(s) e.g.: 'highway', 'building'; default: no key","required":false,"type":"string"},{"name":"properties","in":"query","description":"List of possible property-groups added to each OSM-element: 'tags' and/or 'metadata'; default: no property","required":false,"type":"string","default":"tags"},{"name":"showMetadata","in":"query","description":"Boolean operator 'true' or 'false'; default: 'false'","required":false,"type":"string","default":"false"},{"name":"time","in":"query","description":"Two ISO-8601 conform timestrings defining an interval; no default value","required":true,"type":"string","default":"2016-01-01,2017-01-01"},{"name":"timeout","in":"query","description":"Custom timeout in seconds;","required":false,"type":"string"},{"name":"types","in":"query","description":"OSM type(s) 'node' and/or 'way' and/or 'relation' OR simple feature type(s) 'point' and/or 'line' and/or 'polygon'; default: all three OSM types","required":false,"type":"string","default":"way"},{"name":"values","in":"query","description":"OSM value(s) e.g.: 'primary', 'residential'; default: no value","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataResponse"}}},"deprecated":false}}},"definitions":{"Attribution":{"type":"object","required":["text","url"],"properties":{"text":{"type":"string","description":"Copyright info about the used data"},"url":{"type":"string","description":"URL to the copyright and license info"}},"title":"Attribution"},"DataResponse":{"type":"object","required":["apiVersion","attribution","type"],"properties":{"apiVersion":{"type":"string","description":"Version of this api"},"attribution":{"description":"License and copyright info","$ref":"#/definitions/Attribution"},"features":{"type":"array","description":"List of GeoJSON features containing the OSM data","items":{"$ref":"#/definitions/Feature"}},"metadata":{"description":"Metadata describing the output","$ref":"#/definitions/Metadata"},"type":{"type":"string","description":"Type of the GeoJSON"}},"title":"DataResponse"},"Feature":{"title":"Feature","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"geometry":{"$ref":"#/definitions/Geometry"},"id":{"type":"object"},"properties":{"type":"object"},"type":{"type":"string"}},"title":"Feature"}]},"FeatureCollection":{"title":"FeatureCollection","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"features":{"type":"array","items":{"$ref":"#/definitions/Feature"}},"type":{"type":"string"}},"title":"FeatureCollection"}]},"Geometry":{"type":"object","properties":{"type":{"type":"string"}},"title":"Geometry"},"GeometryCollection":{"title":"GeometryCollection","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"geometries":{"type":"array","items":{"$ref":"#/definitions/Geometry"}},"type":{"type":"string"}},"title":"GeometryCollection"}]},"LineString":{"title":"LineString","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number","format":"double"}}},"type":{"type":"string"}},"title":"LineString"}]},"Metadata":{"type":"object","required":["description","executionTime","requestUrl"],"properties":{"description":{"type":"string","description":"Text describing the result in a sentence"},"executionTime":{"type":"integer","format":"int64","description":"Time the server needed to execute the request"},"requestUrl":{"type":"string","description":"Request URL to which this whole output JSON was generated"}},"title":"Metadata"},"MultiLineString":{"title":"MultiLineString","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number","format":"double"}}}},"type":{"type":"string"}},"title":"MultiLineString"}]},"MultiPoint":{"title":"MultiPoint","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number","format":"double"}}},"type":{"type":"string"}},"title":"MultiPoint"}]},"MultiPolygon":{"title":"MultiPolygon","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number","format":"double"}}}}},"type":{"type":"string"}},"title":"MultiPolygon"}]},"Point":{"title":"Point","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"number","format":"double"}},"type":{"type":"string"}},"title":"Point"}]},"Polygon":{"title":"Polygon","allOf":[{"$ref":"#/definitions/Geometry"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number","format":"double"}}}},"type":{"type":"string"}},"title":"Polygon"}]}}}