{"swagger":"2.0","info":{"description":"This REST-based API aims to leverage the tools of the <a href=\"https://github.com/GIScience/oshdb\" target=\"_blank\">OSHDB</a> through allowing to access some of its functionalities via HTTP requests.","version":"1.0","title":"ohsome API","contact":{"name":"Heidelberg Institute for Geoinformation Technology","url":"https://www.heigit.org","email":"info@heigit.org"},"license":{"name":"License of the used data","url":"https://ohsome.org/copyrights"}},"host":"api.ohsome.org","basePath":"/v1","tags":[{"name":"Metadata","description":"Request metadata of the underlying OSHDB"}],"paths":{"/metadata":{"get":{"tags":["Metadata"],"summary":"Metadata of the underlying OSHDB data-extract","operationId":"Metadata","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MetadataResponse"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"405":{"description":"Method not allowed"},"413":{"description":"Payload too large"},"500":{"description":"Internal server error"},"501":{"description":"Not implemented"},"503":{"description":"Service Unavailable"}},"deprecated":false}}},"definitions":{"Attribution":{"type":"object","required":["text","url"],"properties":{"text":{"type":"string","description":"Copyright info about the used data"},"url":{"type":"string","description":"URL to the copyright and license info"}},"title":"Attribution"},"ExtractRegion":{"type":"object","required":["spatialExtent"],"properties":{"spatialExtent":{"description":"Spatial extent of this extract-region","$ref":"#/definitions/JsonNode"},"temporalExtent":{"description":"Temporal extent of this extract-region","$ref":"#/definitions/TemporalExtent"},"replicationSequenceNumber":{"type":"integer","format":"int32","description":"Replication sequence number"}},"title":"ExtractRegion"},"JsonNode":{"type":"object","properties":{"array":{"type":"boolean"},"bigDecimal":{"type":"boolean"},"bigInteger":{"type":"boolean"},"binary":{"type":"boolean"},"boolean":{"type":"boolean"},"containerNode":{"type":"boolean"},"double":{"type":"boolean"},"float":{"type":"boolean"},"floatingPointNumber":{"type":"boolean"},"int":{"type":"boolean"},"integralNumber":{"type":"boolean"},"long":{"type":"boolean"},"missingNode":{"type":"boolean"},"nodeType":{"type":"string","enum":["ARRAY","BINARY","BOOLEAN","MISSING","NULL","NUMBER","OBJECT","POJO","STRING"]},"null":{"type":"boolean"},"number":{"type":"boolean"},"object":{"type":"boolean"},"pojo":{"type":"boolean"},"short":{"type":"boolean"},"textual":{"type":"boolean"},"valueNode":{"type":"boolean"}},"title":"JsonNode"},"MetadataResponse":{"type":"object","required":["apiVersion","attribution","extractRegion"],"properties":{"apiVersion":{"type":"string","description":"Version of this api"},"attribution":{"description":"License and copyright info","$ref":"#/definitions/Attribution"},"extractRegion":{"description":"Extract region object holding the spatial|temporal extend + attribution","$ref":"#/definitions/ExtractRegion"}},"title":"MetadataResponse"},"TemporalExtent":{"type":"object","required":["fromTimestamp","toTimestamp"],"properties":{"fromTimestamp":{"type":"string","description":"Timestamp in the format YYYY-MM-DDThh:mm:ssZ"},"toTimestamp":{"type":"string","description":"Timestamp in the format YYYY-MM-DDThh:mm:ssZ"}},"title":"TemporalExtent"}}}